{template header}
<div class="g_w1000min open_form">
    <div class="g_w1000 ">
        <div class="sub_right  ">
            {template bjkl8_com_nav}
			
			<div class="sub_r_open_form sub_r_open_form_10014">
    <div class="sub_mid_l">
        <h1>北京快乐8 </h1>
        <h2>本期第<em style="color: #ff0000" id="cterm">000000</em>期</h2>
    <h3><em id="fre_info">00</em>一期,全天<em id="fre_total">00</em>期</h3>
            <h3>当前<em id="c_now">00</em>期,剩<em id="c_less">00</em>期</h3>
        <div class="shuang_anniu">
                    </div>

    </div>
    <div class="sub_mid_c">
        <h2>本期开奖结果：<em style="color: #ff0000" id="msgInfo">...数据加载中,如不正常请手动刷新...</em></h2>
        <div class="result">
            <ul id="term_ball">
            </ul>
        </div>
    </div>
    <div class="sub_mid_r">

        <h2>下期【第<em style="color: #ff0000" id="nterm">000000</em>期】</h2>
        <h3><em style="color: #fff" id="ndate">00月00日21时30分</em></h3>
        <div class="btn_bar">
            <div style="display: none;" id="player"></div>
            <span><a href="/Rule/10014 " class="g_button btn_white"  target="_blank">彩种玩法</a></span><span><a class="g_button btn_white" href="javascript:setRing();">铃声设置</a></span>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="g_clear"></div>
</div>

            <div class="open_notic_tip g_hide">
                <span class="msg">注意：北京快乐8 第<em>000000</em>期 未开奖，您可以手动刷新或等待自动刷新！</span>
                <a href="/Lottery/10014 " class="g_button btn_rosy"  target="_self">手动刷新</a>
            </div> 
        </div>
        <div class="clear">
        </div>
    </div>
</div>

        </div>
        <div class="clear"> </div>
    </div>
</div>



<div class="g_w1000  ">
    <div class="sub_r_bot">
        <div class="sub_bot_one">
            <span class="sub_bot_bt"><strong>北京快乐8：</strong> 开奖记录 </span>
            <span class="r">开奖日期:&nbsp;&nbsp;
                        <input class="sub_rili Wdate txt " id="yeartxt" name="OpenYear" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'1990'}); " value="2016-03-24" />
                <a href="javascript:void(0);" class="g_button btn_orange rili_submit" target="_self" onclick="sumti()">查询更多</a>
            </span>
        </div>
    </div>
</div>



<div class="g_w1000 ">
    <div class="content" style="margin-top: 0px;">
        <div class="g_clear"></div>
        <div class="cont_box " style="position: relative">
            <table class="lot-table sub_table" id="nav" style="display:none;z-index:9999;width:1000px;">
                <colgroup>
                    <col style="width:60px;"/>
                    <col style="width:100px;"/>
                    <col style="width:280px; "/>
                    <col style="width:280px; "/>
                    <col style="width:120px;"/>
                    <col style="width:40px;"/>
                    <col style="width:40px;"/>
                    <col style="width:40px;"/>
                    <col style="width:40px;"/>
                </colgroup>
                <thead style="height: 40px; background-color: #ECECEC;">
                    <tr>
                        <td>期数</td>
                        <td>开奖时间</td>
                        <td colspan="2">开奖号码</td>
                        <td>总和</td>
                        <td>单双<br />
                            比例</td>
                        <td>前后<br />
                            比例</td>
                        <td>总和<br />
                            组合</td>
                        <td>五行</td>
                    </tr>
                </thead>
            </table>
            <table class="lot-table sub_table" id="tb2">
                <colgroup>
                    <col style="width:60px;"/>
                    <col style="width:100px;"/>
                    <col style="width:280px; "/>
                    <col style="width:280px; "/>
                    <col style="width:120px;"/>
                    <col style="width:40px;"/>
                    <col style="width:40px;"/>
                    <col style="width:40px;"/>
                    <col style="width:40px;"/>
                </colgroup>
                <thead style="height: 40px; background-color: #ECECEC;">
                    <tr>
                        
                        <td>期数</td>
                        <td>开奖时间</td>
                        <td colspan="2">开奖号码</td>
                        <td>总和</td>
                        <td>单双<br />
                            比例</td>
                        <td>前后<br />
                            比例</td>
                        <td>总和<br />
                            组合</td>
                        <td>五行</td>
                    </tr>

                </thead>

                <tbody id="getResult">
                </tbody>

            </table>

        </div>
    </div>
</div>


{template footer} 