{template header}

<link href="{SITE_THEME}images/style.old.trend.css" rel="stylesheet" />
    <style type="text/css">
        .lot-table tbody tr td { background-color: #fff; height: 21px; }
        .yilou { color: #decdd7; }
        .h-b { font-style: normal; display: block; position: absolute; top: -45px; left: -40px; width: 35px; }
        .h-em { font-style: normal; display: block; position: absolute; top: -25px; left: -80px; width: 55px; }
        .out { border-top: 40px #CECCCE solid; width: 0px; height: 0px; border-left: 99px #ECECEC solid; position: relative; }
        .tips { width: 978px; border: solid 1px #fed22f; background-color: #fff0a5; text-align: left; color: #0089ff; line-height: 25px; padding-left: 25px; clear: both; }
    </style>


<div class="g_w1000min open_form">
	<div class="g_w1000 ">
		<div class="sub_right  ">
			{template cqklsf_com_nav}
			<div class="sub_r_bot history">
				<div class="sub_bot_one">
					<span class="sub_bot_bt">重庆幸运农场 基本走势</span> <span class="r">开奖日期:&nbsp;&nbsp;
					<input class="sub_rili Wdate  date" type="text" id="datetimepicker" value="">
					<a href="javascript:void(0); " class="g_button btn_orange rili_submit">查询更多</a></span>
				</div>
			</div>
			<link rel="stylesheet" type="text/css" href="{SITE_THEME}images/jquery.datetimepicker.css" />
			<script type="text/javascript" src="{SITE_THEME}images/jquery.datetimepicker.js"></script> 
			<script>
			$('#datetimepicker').datetimepicker({
				yearOffset:0,
				lang:'ch',
				timepicker:false,
				format:'Y-m-d',
				formatDate:'Y-m-d'
			});
			</script>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="g_w1000 ">
    <div class="content" style="margin-top: 0px;">
        <div style="float: left; padding-left: 20px;" id="times-show" class="tips">
            <label>标注形式选择：</label>
            <input type="checkbox" style="padding-right: 10px; cursor: pointer;" checked="checked" id="yl">
            <label for="yl" style="padding-right: 10px; cursor: pointer;">遗漏</label>&nbsp;&nbsp;       
        </div>
        <div class="g_clear"></div>
        <div class="cont_box " style="position: relative">
            <table class="lot-table sub_table" id="nav" style="display:none;z-index:9999;width:1000px;">
                <colgroup>
                    <col style="width: 99px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                </colgroup>
                <thead style="height: 40px; background-color: #ECECEC;">
                    <tr>
                        <td>
                            <div class="out">
                                <b class="h-b">彩球</b>
                                <em class="h-em">期号</em>
                            </div>
                        </td>
                        <td style="font-size: 14px; font-weight: bold;">1</td>
                        <td style="font-size: 14px; font-weight: bold;">2</td>
                        <td style="font-size: 14px; font-weight: bold;">3</td>
                        <td style="font-size: 14px; font-weight: bold;">4</td>
                        <td style="font-size: 14px; font-weight: bold;">5</td>
                        <td style="font-size: 14px; font-weight: bold;">6</td>
                        <td style="font-size: 14px; font-weight: bold;">7</td>
                        <td style="font-size: 14px; font-weight: bold;">8</td>
                        <td style="font-size: 14px; font-weight: bold;">9</td>
                        <td style="font-size: 14px; font-weight: bold;">10</td>
                        <td style="font-size: 14px; font-weight: bold;">11</td>
                        <td style="font-size: 14px; font-weight: bold;">12</td>
                        <td style="font-size: 14px; font-weight: bold;">13</td>
                        <td style="font-size: 14px; font-weight: bold;">14</td>
                        <td style="font-size: 14px; font-weight: bold;">15</td>
                        <td style="font-size: 14px; font-weight: bold;">16</td>
                        <td style="font-size: 14px; font-weight: bold;">17</td>
                        <td style="font-size: 14px; font-weight: bold;">18</td>
                        <td style="font-size: 14px; font-weight: bold;">19</td>
                        <td style="font-size: 14px; font-weight: bold;">20</td>
                    </tr>
                </thead>
            </table>
            <table class="lot-table sub_table" id="tb2">
                <colgroup>
                    <col style="">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                        <col style="width: 45px;">
                </colgroup>
                <thead style="height: 40px; background-color: #ECECEC;">
                    <tr>
                        <td>
                            <div class="out">
                                <b class="h-b">彩球</b>
                                <em class="h-em">期号</em>
                            </div>
                        </td>
                        <td style="font-size: 14px; font-weight: bold;">1</td>
                        <td style="font-size: 14px; font-weight: bold;">2</td>
                        <td style="font-size: 14px; font-weight: bold;">3</td>
                        <td style="font-size: 14px; font-weight: bold;">4</td>
                        <td style="font-size: 14px; font-weight: bold;">5</td>
                        <td style="font-size: 14px; font-weight: bold;">6</td>
                        <td style="font-size: 14px; font-weight: bold;">7</td>
                        <td style="font-size: 14px; font-weight: bold;">8</td>
                        <td style="font-size: 14px; font-weight: bold;">9</td>
                        <td style="font-size: 14px; font-weight: bold;">10</td>
                        <td style="font-size: 14px; font-weight: bold;">11</td>
                        <td style="font-size: 14px; font-weight: bold;">12</td>
                        <td style="font-size: 14px; font-weight: bold;">13</td>
                        <td style="font-size: 14px; font-weight: bold;">14</td>
                        <td style="font-size: 14px; font-weight: bold;">15</td>
                        <td style="font-size: 14px; font-weight: bold;">16</td>
                        <td style="font-size: 14px; font-weight: bold;">17</td>
                        <td style="font-size: 14px; font-weight: bold;">18</td>
                        <td style="font-size: 14px; font-weight: bold;">19</td>
                        <td style="font-size: 14px; font-weight: bold;">20</td>
                    </tr>
                </thead>
<tbody id="getResult">
{php $i1=1; $i2=1; $i3=1; $i4=1; $i5=1; $i6=1; $i7=1; $i8=1; $i9=1; $i10=1; $i11=1; $i12=1; $i13=1; $i14=1; $i15=1; $i16=1; $i17=1; $i18=1; $i19=1; $i20=1;}
{php $c1=0; $c2=0; $c3=0; $c4=0; $c5=0; $c6=0; $c7=0; $c8=0; $c9=0; $c10=0; $c11=0; $c12=0; $c13=0; $c14=0; $c15=0; $c16=0; $c17=0; $c18=0; $c19=0; $c20=0;}
{php
	$day = isset($_GET['day']) ? $_GET['day']:date('Y-m-d',time());
}
{list catid=$parentid LIKEopentime=%$day% pagesize=500 more=1 order=id}
{php $a = explode(',',$t['opencode']);}
<tr>
<td style="background-color: #fff;">{$t['expect']}</td>
			
<td style="background-color: #F9F4DF;" {if !in_array("1", $a)}class="yilou"{/if}>{if in_array("1", $a)}<span class="ball_nc_ ball_nc1" style="margin-right: 0;"></span>{php $i1=1;}{php $c1++;}{else}{$i1}{php $i1++;}{/if}</td>
<td style="background-color: #F9F4DF;" {if !in_array("2", $a)}class="yilou"{/if}>{if in_array("2", $a)}<span class="ball_nc_ ball_nc2" style="margin-right: 0;"></span>{php $i2=1;}{php $c2++;}{else}{$i2}{php $i2++;}{/if}</td>
<td style="background-color: #F9F4DF;" {if !in_array("3", $a)}class="yilou"{/if}>{if in_array("3", $a)}<span class="ball_nc_ ball_nc3" style="margin-right: 0;"></span>{php $i3=1;}{php $c3++;}{else}{$i3}{php $i3++;}{/if}</td>
<td style="background-color: #F9F4DF;" {if !in_array("4", $a)}class="yilou"{/if}>{if in_array("4", $a)}<span class="ball_nc_ ball_nc4" style="margin-right: 0;"></span>{php $i4=1;}{php $c4++;}{else}{$i4}{php $i4++;}{/if}</td>
<td style="background-color: #F9F4DF;" {if !in_array("5", $a)}class="yilou"{/if}>{if in_array("5", $a)}<span class="ball_nc_ ball_nc5" style="margin-right: 0;"></span>{php $i5=1;}{php $c5++;}{else}{$i5}{php $i5++;}{/if}</td>
            
<td style="background-color: #F2E6FF;" {if !in_array("6", $a)}class="yilou"{/if}>{if in_array("6", $a)}<span class="ball_nc_ ball_nc6" style="margin-right: 0;"></span>{php $i6=1;}{php $c6++;}{else}{$i6}{php $i6++;}{/if}</td>
<td style="background-color: #F2E6FF;" {if !in_array("7", $a)}class="yilou"{/if}>{if in_array("7", $a)}<span class="ball_nc_ ball_nc7" style="margin-right: 0;"></span>{php $i7=1;}{php $c7++;}{else}{$i7}{php $i7++;}{/if}</td>
<td style="background-color: #F2E6FF;" {if !in_array("8", $a)}class="yilou"{/if}>{if in_array("8", $a)}<span class="ball_nc_ ball_nc8" style="margin-right: 0;"></span>{php $i8=1;}{php $c8++;}{else}{$i8}{php $i8++;}{/if}</td>
<td style="background-color: #F2E6FF;" {if !in_array("9", $a)}class="yilou"{/if}>{if in_array("9", $a)}<span class="ball_nc_ ball_nc9" style="margin-right: 0;"></span>{php $i9=1;}{php $c9++;}{else}{$i9}{php $i9++;}{/if}</td>
<td style="background-color: #F2E6FF;" {if !in_array("10", $a)}class="yilou"{/if}>{if in_array("10", $a)}<span class="ball_nc_ ball_nc10" style="margin-right: 0;"></span>{php $i10=1;}{php $c10++;}{else}{$i10}{php $i10++;}{/if}</td>
            
<td style="background-color: #F9F4DF;" {if !in_array("11", $a)}class="yilou"{/if}>{if in_array("11", $a)}<span class="ball_nc_ ball_nc11" style="margin-right: 0;"></span>{php $i11=1;}{php $c11++;}{else}{$i11}{php $i11++;}{/if}</td>
<td style="background-color: #F9F4DF;" {if !in_array("12", $a)}class="yilou"{/if}>{if in_array("12", $a)}<span class="ball_nc_ ball_nc12" style="margin-right: 0;"></span>{php $i12=1;}{php $c12++;}{else}{$i12}{php $i12++;}{/if}</td>
<td style="background-color: #F9F4DF;" {if !in_array("13", $a)}class="yilou"{/if}>{if in_array("13", $a)}<span class="ball_nc_ ball_nc13" style="margin-right: 0;"></span>{php $i13=1;}{php $c13++;}{else}{$i13}{php $i13++;}{/if}</td>
<td style="background-color: #F9F4DF;" {if !in_array("14", $a)}class="yilou"{/if}>{if in_array("14", $a)}<span class="ball_nc_ ball_nc14" style="margin-right: 0;"></span>{php $i14=1;}{php $c14++;}{else}{$i14}{php $i14++;}{/if}</td>
<td style="background-color: #F9F4DF;" {if !in_array("15", $a)}class="yilou"{/if}>{if in_array("15", $a)}<span class="ball_nc_ ball_nc15" style="margin-right: 0;"></span>{php $i15=1;}{php $c15++;}{else}{$i15}{php $i15++;}{/if}</td>
            
<td style="background-color: #F2E6FF;" {if !in_array("16", $a)}class="yilou"{/if}>{if in_array("16", $a)}<span class="ball_nc_ ball_nc16" style="margin-right: 0;"></span>{php $i16=1;}{php $c16++;}{else}{$i16}{php $i16++;}{/if}</td>
<td style="background-color: #F2E6FF;" {if !in_array("17", $a)}class="yilou"{/if}>{if in_array("17", $a)}<span class="ball_nc_ ball_nc17" style="margin-right: 0;"></span>{php $i17=1;}{php $c17++;}{else}{$i17}{php $i17++;}{/if}</td>
<td style="background-color: #F2E6FF;" {if !in_array("18", $a)}class="yilou"{/if}>{if in_array("18", $a)}<span class="ball_nc_ ball_nc18" style="margin-right: 0;"></span>{php $i18=1;}{php $c18++;}{else}{$i18}{php $i18++;}{/if}</td>
<td style="background-color: #F2E6FF;" {if !in_array("19", $a)}class="yilou"{/if}>{if in_array("19", $a)}<span class="ball_nc_ ball_nc19" style="margin-right: 0;"></span>{php $i19=1;}{php $c19++;}{else}{$i19}{php $i19++;}{/if}</td>
<td style="background-color: #F2E6FF;" {if !in_array("20", $a)}class="yilou"{/if}>{if in_array("20", $a)}<span class="ball_nc_ ball_nc20" style="margin-right: 0;"></span>{php $i20=1;}{php $c20++;}{else}{$i20}{php $i20++;}{/if}</td>
</tr>
{/list}






<tr>
<td>累计总次数</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c1}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c2}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c3}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c4}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c5}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c6}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c7}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c8}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c9}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c10}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c11}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c12}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c13}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c14}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c15}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c16}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c17}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c18}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c19}</td>
<td style="background:#a1120a; color: #fff; font-weight:700">{$c20}</td>
</tr>

</tbody>
</table>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#yl").click(function () {
	if ($("#yl").prop("checked") == false) {
		$(".lot-table tbody .yilou").each(function () {
			var bgc = $(this).css("background-color");
			$(this).css("color", bgc)
		});
	} else {
		$(".lot-table tbody .yilou").css("color", "#decdd7");
	}
});
</script>
<script type="text/javascript">
$(document).ready(function() {
	$(".rili_submit").click(function(event) {
		var url = "index.php?c=content&a=list&catid="+{$param['catid']}+"&day="+$(".sub_rili").val();
		window.location.href=url;
	});
});
</script> 
{template footer} 