{template header}
<div class="g_w1000min open_form">
    <div class="g_w1000 ">
        <div class="sub_right">{template cqklsf_com_nav}</div>
	</div>
	
	
	<div class="g_w1000 ">
		<div class="content" style="margin-top: 0px;">
			<div style="float: left; padding-left: 20px; /**/" id="times-show" class="tips">
				<label>标注形式选择：</label>
				<input type="checkbox" id="yl" checked="checked" style="padding-right: 10px; cursor: pointer;" />
				<label for="yl" style="padding-right: 10px; cursor: pointer;">遗漏</label>&nbsp;&nbsp;       
			</div>
			<div class="g_clear"></div>
			<div class="cont_box " style="position: relative">
				<table class="lot-table sub_table" id="nav" style="display:none;z-index:9999;width:1000px;">
					<colgroup>
						<col style="width: 99px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
					</colgroup>
					<thead style="height: 40px; background-color: #ECECEC;">
						<tr>
							<td>
								<div class="out">
									<b class="h-b">彩球</b>
									<em class="h-em">期号</em>
								</div>
							</td>
							<td style="font-size: 14px; font-weight: bold;">1</td>
							<td style="font-size: 14px; font-weight: bold;">2</td>
							<td style="font-size: 14px; font-weight: bold;">3</td>
							<td style="font-size: 14px; font-weight: bold;">4</td>
							<td style="font-size: 14px; font-weight: bold;">5</td>
							<td style="font-size: 14px; font-weight: bold;">6</td>
							<td style="font-size: 14px; font-weight: bold;">7</td>
							<td style="font-size: 14px; font-weight: bold;">8</td>
							<td style="font-size: 14px; font-weight: bold;">9</td>
							<td style="font-size: 14px; font-weight: bold;">10</td>
							<td style="font-size: 14px; font-weight: bold;">11</td>
							<td style="font-size: 14px; font-weight: bold;">12</td>
							<td style="font-size: 14px; font-weight: bold;">13</td>
							<td style="font-size: 14px; font-weight: bold;">14</td>
							<td style="font-size: 14px; font-weight: bold;">15</td>
							<td style="font-size: 14px; font-weight: bold;">16</td>
							<td style="font-size: 14px; font-weight: bold;">17</td>
							<td style="font-size: 14px; font-weight: bold;">18</td>
							<td style="font-size: 14px; font-weight: bold;">19</td>
							<td style="font-size: 14px; font-weight: bold;">20</td>
						</tr>
					</thead>
	
				</table>
				<table class="lot-table sub_table" id="tb2">
					<colgroup>
						<col style="" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
							<col style="width: 45px;" />
					</colgroup>
					<thead style="height: 40px; background-color: #ECECEC;">
						<tr>
							<td>
								<div class="out">
									<b class="h-b">彩球</b>
									<em class="h-em">期号</em>
								</div>
							</td>
							<td style="font-size: 14px; font-weight: bold;">1</td>
							<td style="font-size: 14px; font-weight: bold;">2</td>
							<td style="font-size: 14px; font-weight: bold;">3</td>
							<td style="font-size: 14px; font-weight: bold;">4</td>
							<td style="font-size: 14px; font-weight: bold;">5</td>
							<td style="font-size: 14px; font-weight: bold;">6</td>
							<td style="font-size: 14px; font-weight: bold;">7</td>
							<td style="font-size: 14px; font-weight: bold;">8</td>
							<td style="font-size: 14px; font-weight: bold;">9</td>
							<td style="font-size: 14px; font-weight: bold;">10</td>
							<td style="font-size: 14px; font-weight: bold;">11</td>
							<td style="font-size: 14px; font-weight: bold;">12</td>
							<td style="font-size: 14px; font-weight: bold;">13</td>
							<td style="font-size: 14px; font-weight: bold;">14</td>
							<td style="font-size: 14px; font-weight: bold;">15</td>
							<td style="font-size: 14px; font-weight: bold;">16</td>
							<td style="font-size: 14px; font-weight: bold;">17</td>
							<td style="font-size: 14px; font-weight: bold;">18</td>
							<td style="font-size: 14px; font-weight: bold;">19</td>
							<td style="font-size: 14px; font-weight: bold;">20</td>
						</tr>
					</thead>
	
					<tbody id="getResult">
					</tbody>
	
				</table>
	
			</div>
		</div>
	</div>


</div>
{template footer} 