{template header}
<div class="g_w1000min open_form">
    <div class="g_w1000 open_form">
        <div class="sub_right right">
            {template cqssc_com_nav}
        </div>
        <div class="clear">
        </div>
    </div>
</div>


<div class="g_w1000 ">
    <div class="content">

        <div class="g_w1000  ">
            <div class="sub_r_bot">
                <div class="sub_bot_one">
                    <span class="sub_bot_bt"><strong>重庆时时彩 ：</strong> 号码统计 </span>
                    <span class="r">开奖日期:&nbsp;&nbsp;
                        <input class="sub_rili Wdate txt " id="yeartxt" name="OpenYear" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'1990'}); " value="2016-03-25" />
                        <a href="javascript:void(0);" class="g_button btn_orange rili_submit" target="_self" onclick="sumti()">查询更多</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="cont_box ">
            <style>
                b { font-style: normal; display: block; position: absolute; top: -35px; left: -40px; width: 35px; }
                em { font-style: normal; display: block; position: absolute; top: -15px; left: -80px; width: 55px; }
                .out { border-top: 40px #CECCCE solid; width: 0px; height: 0px; border-left: 80px #ECECEC solid; position: relative; }
            </style>
            <table class="lot-table" style="margin: 0 0;">
                <thead>
                   

                    <tr style='height: 37px; background-color: #ECECEC;'>
                        <td style="width: 80px;">
                            <div class="out">
                                <b>排名</b>
                                <em>彩球</em>
                            </div>
                        </td>
                        <td colspan="4"><strong>第一球</strong></td>
                        <td colspan="4"><strong>第二球</strong></td>
                        <td colspan="4"><strong>第三球</strong></td>
                        <td colspan="4"><strong>第四球</strong></td>
                        <td colspan="4"><strong>第五球</strong></td>
                    </tr>
                    <tr class="" style="font-weight: inherit;">
                        <td style="background-color: #fff;">日期 03.25</td>
                        <td style="background-color: #F2E6FF;">总开</td>
                        <td style="background-color: #F2E6FF;">最多<br />连开</td>
                        <td style="background-color: #F2E6FF;">当前<br />遗漏</td>
                        <td style="background-color: #F2E6FF;">最大<br />遗漏</td>
                        <td style="background-color: #F9F4DF;">总开</td>
                        <td style="background-color: #F9F4DF;">最多<br />连开</td>
                        <td style="background-color: #F9F4DF;">当前<br />遗漏</td>
                        <td style="background-color: #F9F4DF;">最大<br />遗漏</td>
                        <td style="background-color: #F2E6FF;">总开</td>
                        <td style="background-color: #F2E6FF;">最多<br />连开</td>
                        <td style="background-color: #F2E6FF;">当前<br />遗漏</td>
                        <td style="background-color: #F2E6FF;">最大<br />遗漏</td>
                        <td style="background-color: #F9F4DF;">总开</td>
                        <td style="background-color: #F9F4DF;">最多<br />连开</td>
                        <td style="background-color: #F9F4DF;">当前<br />遗漏</td>
                        <td style="background-color: #F9F4DF;">最大<br />遗漏</td>
                        <td style="background-color: #F2E6FF;">总开</td>
                        <td style="background-color: #F2E6FF;">最多连开</td>
                        <td style="background-color: #F2E6FF;">当前遗漏</td>
                        <td style="background-color: #F2E6FF;">最大遗漏</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

{template footer}