{template header}
<div class="g_w1000min open_form">
	<div class="g_w1000  "> {template cqssc_com_nav}
		<div class="clear"> </div>
	</div>
	<div class="g_w1000  ">
		<div class="sub_r_bot">
			<div class="sub_bot_one"> <span class="sub_bot_bt"><strong>重庆时时彩：</strong> 单双大小历史 </span> </div>
		</div>
	</div>
	<div class="g_w1000 ">
		<div style="margin-top: 0px;" class="content">
			<div class="cont_box ">
				<table style="margin: 0; width: 1000px;" id="nav" class="lot-table">
					<thead>
						<tr style="height: 40px; background-color: #ECECEC;" class="thead">
							<td width="166px">日期（星期）</td>
							<td width="166px" colspan="4" class="odd">第一球</td>
							<td width="166px" colspan="4">第二球</td>
							<td width="166px" colspan="4" class="odd">第三球</td>
							<td width="166px" colspan="4">第四球</td>
							<td width="166px" colspan="4" class="odd">第五球</td>
						</tr>
						<tr style="height: 30px; background-color: #ECECEC;" class="">
							<td width="100"></td>
							<td>大</td>
							<td>小</td>
							<td>单</td>
							<td>双</td>
							<td class="odd">大</td>
							<td class="odd">小</td>
							<td class="odd">单</td>
							<td class="odd">双</td>
							<td>大</td>
							<td>小</td>
							<td>单</td>
							<td>双</td>
							<td class="odd">大</td>
							<td class="odd">小</td>
							<td class="odd">单</td>
							<td class="odd">双</td>
							<td>大</td>
							<td>小</td>
							<td>单</td>
							<td>双</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="width:166px" class="even">2016-03-18(五)</td>
							<td style="width:41px" class="odd"><div class="top_right">0</div>
								<div>28</div></td>
							<td style="width:41px" class="odd"><div class="top_right_red">1</div>
								<div>29</div></td>
							<td style="width:41px" class="odd"><div class="top_right">0</div>
								<div>26</div></td>
							<td style="width:41px" class="odd"><div class="top_right_red">5</div>
								<div>31</div></td>
							<td style="width:41px" class="even"><div class="top_right">0</div>
								<div>25</div></td>
							<td style="width:41px" class="even"><div class="top_right_red">7</div>
								<div>32</div></td>
							<td style="width:41px" class="even"><div class="top_right">0</div>
								<div>28</div></td>
							<td style="width:41px" class="even"><div class="top_right_red">1</div>
								<div>29</div></td>
							<td style="width:41px" class="odd"><div class="top_right">0</div>
								<div>25</div></td>
							<td style="width:41px" class="odd"><div class="top_right_red">7</div>
								<div>32</div></td>
							<td style="width:41px" class="odd"><div class="top_right">0</div>
								<div>28</div></td>
							<td style="width:41px" class="odd"><div class="top_right_red">1</div>
								<div>29</div></td>
							<td style="width:41px" class="even"><div class="top_right">0</div>
								<div>23</div></td>
							<td style="width:41px" class="even"><div class="top_right_red">11</div>
								<div>34</div></td>
							<td style="width:41px" class="even"><div class="top_right">0</div>
								<div>24</div></td>
							<td style="width:41px" class="even"><div class="top_right_red">9</div>
								<div>33</div></td>
							<td style="width:41px" class="odd"><div class="top_right_red">0</div>
								<div>27</div></td>
							<td style="width:41px" class="odd"><div class="top_right">3</div>
								<div>30</div></td>
							<td style="width:41px" class="odd"><div class="top_right_red">5</div>
								<div>31</div></td>
							<td style="width:41px" class="odd"><div class="top_right">0</div>
								<div>26</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-17(四)</td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>65</div></td>
							<td style="width:41px" class="even"><div>55</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-16(三)</td>
							<td style="width:41px" class="odd"><div>68</div></td>
							<td style="width:41px" class="odd"><div>52</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="even"><div>54</div></td>
							<td style="width:41px" class="even"><div>66</div></td>
							<td style="width:41px" class="even"><div>70</div></td>
							<td style="width:41px" class="even"><div>50</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>54</div></td>
							<td style="width:41px" class="even"><div>66</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-15(二)</td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>71</div></td>
							<td style="width:41px" class="even"><div>49</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="even"><div>44</div></td>
							<td style="width:41px" class="even"><div>76</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-14(一)</td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="odd"><div>68</div></td>
							<td style="width:41px" class="odd"><div>52</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-13(日)</td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="even"><div>53</div></td>
							<td style="width:41px" class="even"><div>67</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-12(六)</td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>70</div></td>
							<td style="width:41px" class="even"><div>50</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>51</div></td>
							<td style="width:41px" class="odd"><div>69</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-11(五)</td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="even"><div>48</div></td>
							<td style="width:41px" class="even"><div>70</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="even"><div>65</div></td>
							<td style="width:41px" class="even"><div>53</div></td>
							<td style="width:41px" class="even"><div>66</div></td>
							<td style="width:41px" class="even"><div>52</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-10(四)</td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-09(三)</td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-08(二)</td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="even"><div>68</div></td>
							<td style="width:41px" class="even"><div>52</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="odd"><div>68</div></td>
							<td style="width:41px" class="odd"><div>52</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="even"><div>74</div></td>
							<td style="width:41px" class="even"><div>46</div></td>
							<td style="width:41px" class="even"><div>65</div></td>
							<td style="width:41px" class="even"><div>55</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-07(一)</td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>68</div></td>
							<td style="width:41px" class="odd"><div>52</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>55</div></td>
							<td style="width:41px" class="even"><div>65</div></td>
							<td style="width:41px" class="odd"><div>48</div></td>
							<td style="width:41px" class="odd"><div>72</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>68</div></td>
							<td style="width:41px" class="even"><div>52</div></td>
							<td style="width:41px" class="odd"><div>49</div></td>
							<td style="width:41px" class="odd"><div>71</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-06(日)</td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="even"><div>55</div></td>
							<td style="width:41px" class="even"><div>66</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="even"><div>53</div></td>
							<td style="width:41px" class="even"><div>68</div></td>
							<td style="width:41px" class="even"><div>66</div></td>
							<td style="width:41px" class="even"><div>55</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-05(六)</td>
							<td style="width:41px" class="odd"><div>51</div></td>
							<td style="width:41px" class="odd"><div>69</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="even"><div>65</div></td>
							<td style="width:41px" class="even"><div>55</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="odd"><div>68</div></td>
							<td style="width:41px" class="odd"><div>52</div></td>
							<td style="width:41px" class="odd"><div>73</div></td>
							<td style="width:41px" class="odd"><div>47</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-04(五)</td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="even"><div>68</div></td>
							<td style="width:41px" class="even"><div>52</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="even"><div>54</div></td>
							<td style="width:41px" class="even"><div>66</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-03(四)</td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="odd"><div>52</div></td>
							<td style="width:41px" class="odd"><div>68</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>52</div></td>
							<td style="width:41px" class="even"><div>68</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-02(三)</td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>51</div></td>
							<td style="width:41px" class="odd"><div>68</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>49</div></td>
							<td style="width:41px" class="odd"><div>70</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>51</div></td>
							<td style="width:41px" class="odd"><div>68</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-03-01(二)</td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="even"><div>55</div></td>
							<td style="width:41px" class="even"><div>65</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="odd"><div>69</div></td>
							<td style="width:41px" class="odd"><div>51</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>66</div></td>
							<td style="width:41px" class="even"><div>54</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-29(一)</td>
							<td style="width:41px" class="odd"><div>54</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="even"><div>55</div></td>
							<td style="width:41px" class="odd"><div>71</div></td>
							<td style="width:41px" class="odd"><div>48</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="even"><div>52</div></td>
							<td style="width:41px" class="even"><div>67</div></td>
							<td style="width:41px" class="even"><div>55</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-28(日)</td>
							<td style="width:41px" class="odd"><div>69</div></td>
							<td style="width:41px" class="odd"><div>51</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="even"><div>70</div></td>
							<td style="width:41px" class="even"><div>50</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-27(六)</td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="even"><div>67</div></td>
							<td style="width:41px" class="even"><div>53</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-26(五)</td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>67</div></td>
							<td style="width:41px" class="even"><div>53</div></td>
							<td style="width:41px" class="odd"><div>69</div></td>
							<td style="width:41px" class="odd"><div>51</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-25(四)</td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>71</div></td>
							<td style="width:41px" class="odd"><div>48</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>51</div></td>
							<td style="width:41px" class="even"><div>68</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-24(三)</td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="even"><div>53</div></td>
							<td style="width:41px" class="even"><div>67</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>65</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-23(二)</td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="even"><div>73</div></td>
							<td style="width:41px" class="even"><div>47</div></td>
							<td style="width:41px" class="even"><div>69</div></td>
							<td style="width:41px" class="even"><div>51</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>69</div></td>
							<td style="width:41px" class="odd"><div>51</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="odd"><div>50</div></td>
							<td style="width:41px" class="odd"><div>70</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-22(一)</td>
							<td style="width:41px" class="odd"><div>73</div></td>
							<td style="width:41px" class="odd"><div>47</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
							<td style="width:41px" class="even"><div>72</div></td>
							<td style="width:41px" class="even"><div>48</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>55</div></td>
							<td style="width:41px" class="even"><div>65</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>50</div></td>
							<td style="width:41px" class="odd"><div>70</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-21(日)</td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="odd"><div>56</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="odd"><div>60</div></td>
							<td style="width:41px" class="even"><div>66</div></td>
							<td style="width:41px" class="even"><div>54</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>59</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-20(六)</td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="even"><div>64</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>53</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
							<td style="width:41px" class="even"><div>52</div></td>
							<td style="width:41px" class="even"><div>68</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="odd"><div>66</div></td>
							<td style="width:41px" class="odd"><div>54</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-19(五)</td>
							<td style="width:41px" class="odd"><div>63</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>70</div></td>
							<td style="width:41px" class="odd"><div>50</div></td>
							<td style="width:41px" class="even"><div>54</div></td>
							<td style="width:41px" class="even"><div>66</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="odd"><div>59</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="even"><div>54</div></td>
							<td style="width:41px" class="even"><div>66</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="even"><div>60</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>52</div></td>
							<td style="width:41px" class="odd"><div>68</div></td>
						</tr>
						<tr>
							<td style="width:166px" class="even">2016-02-18(四)</td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="odd"><div>61</div></td>
							<td style="width:41px" class="odd"><div>58</div></td>
							<td style="width:41px" class="even"><div>61</div></td>
							<td style="width:41px" class="even"><div>58</div></td>
							<td style="width:41px" class="even"><div>69</div></td>
							<td style="width:41px" class="even"><div>50</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
							<td style="width:41px" class="odd"><div>64</div></td>
							<td style="width:41px" class="odd"><div>55</div></td>
							<td style="width:41px" class="even"><div>56</div></td>
							<td style="width:41px" class="even"><div>63</div></td>
							<td style="width:41px" class="even"><div>57</div></td>
							<td style="width:41px" class="even"><div>62</div></td>
							<td style="width:41px" class="odd"><div>52</div></td>
							<td style="width:41px" class="odd"><div>67</div></td>
							<td style="width:41px" class="odd"><div>62</div></td>
							<td style="width:41px" class="odd"><div>57</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{template footer}