	<div class="height20"></div>
	<div class="footer">
		<!--div class="footer1">友情链接：
{list table=link.link order=listorder_asc cache=0}
<a href="{$t['url']}" target="_blank" title="{$t['introduce']}">{$t['name']}</a>&nbsp;&nbsp;&nbsp;
{/list}
		</div-->
		<div class="footer2">
			<p>Copyright © 2000-<?php echo date("Y")?> 33133开奖网  All rights reserved.  <img src="{SITE_THEME}images/ft1.jpg" /> 彩票有风险，购买要适度。禁止18周岁以下未成年人购买彩票。
			
			</p>
			<h4><img src="{SITE_THEME}images/fl1.jpg" /><img src="{SITE_THEME}images/fl2.jpg" /><img src="{SITE_THEME}images/fl3.jpg" /><img src="{SITE_THEME}images/fl4.jpg" /><img src="{SITE_THEME}images/fl5.jpg" /></h4>
			<script language="javascript" src="http://count17.51yes.com/click.aspx?id=171275296&logo=12" charset="gb2312"></script>
		</div>
	</div>
</div>
<script src="{SITE_PATH}media/jquery.cookie.js" type="text/javascript"></script>
<script src="{SITE_PATH}media/ring.js" type="text/javascript"></script>
</body>
{if $cats[$catid]['parentid'] != 0 }
	{php $catid_tm = $cats[$catid]['parentid'];}
{else}
	{php $catid_tm = $catid;}
{/if}
{if !$indexc}
<script>
var idx = '{php echo str_replace("content_1_","",$cats[$catid_tm]["tablename"]);}';
var change_time = configs[idx]['change_time'];
var id = configs[idx]['id'];
var catid = '{$catid_tm}';
var modelid = '{$cats[$catid_tm]["modelid"]}';
var last_time = 0;
</script>
{list catid=$catid_tm num=1 order=id more=1}
{if $key == 0}
<script type="text/javascript">
    var last_time = "{$t['updatetime']}";
</script>
{/if}
{/list}
{/if}
<script type="text/javascript" src="{SITE_THEME}js/base.js"></script>
<script type="text/javascript" src="{SITE_THEME}js/main.js"></script>
{if $indexc}
<script type="text/javascript" src="{SITE_THEME}js/hotOpen.js"></script>
{/if}
{if $parentid==0  &&  $indexc!=1 || $parentid==4}
<script type="text/javascript" src="{SITE_THEME}js/1000.js?v=1231123121231111"></script>
{/if}
</html>