<div class="sub_r_open_form sub_r_open_form_4001">
	<div class="sub_mid_l">
		<h1>香港彩 </h1>
		<h2>本期第<em style="color: #ff0000" id="cterm">000000</em>期</h2>
		<h3><em style="color: #fff" id="cdate">00月00日00时00分</em></h3>
		<div class="shuang_anniu">
			<span><a href="./index.php?c=content&a=list&catid=53" class="g_button btn_orange">开奖视频</a></span>
		</div>
	</div>
	<div class="sub_mid_c">
		<h2>本期开奖结果：<em style="color: #ff0000" id="msgInfo">...数据加载中,如不正常请手动刷新...</em></h2>
		<div class="result">
			<ul id="term_ball">
				<li> <span class="ball_hk6_ ball_hk6_blue" id="ball_l1">&nbsp;</span>
					<p id="info_l1">--</p>
				</li>
				<li> <span class="ball_hk6_ ball_hk6_blue" id="ball_l2">&nbsp;</span>
					<p id="info_l2">--</p>
				</li>
				<li> <span class="ball_hk6_ ball_hk6_blue" id="ball_l3">&nbsp;</span>
					<p id="info_l3">--</p>
				</li>
				<li> <span class="ball_hk6_ ball_hk6_blue" id="ball_l4">&nbsp;</span>
					<p id="info_l4">--</p>
				</li>
				<li> <span class="ball_hk6_ ball_hk6_blue" id="ball_l5">&nbsp;</span>
					<p id="info_l5">--</p>
				</li>
				<li> <span class="ball_hk6_ ball_hk6_blue" id="ball_l6">&nbsp;</span>
					<p id="info_l6">--</p>
				</li>
				<li><span class=""> <img src="{SITE_THEME}images/jiahao.png" /></span>
					<p>&nbsp;</p>
				</li>
				<li> <span class="ball_hk6_ ball_hk6_blue" id="ball_l7">&nbsp;</span>
					<p id="info_l7">--</p>
				</li>
				<li> <span>总分</span>
					<p id="ball_sum">[00]</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="sub_mid_r">
		<h2>下期【第<em style="color: #ff0000" id="nterm">000000</em>期】</h2>
		<h3><em style="color: #fff" id="ndate">00月00日21时30分</em></h3>
		<div class="btn_bar">
			<div style="display: none;" id="player">
			</div>
			<span></span><span><a class="g_button btn_white" href="javascript:setRing();">铃声设置</a></span>
		</div>
		<div class="clear">
		</div>
	</div>
	<div class="g_clear">
	</div>
</div>
<div class="open_notic_tip g_hide">
	<span class="msg">注意：香港彩 第<em>000000</em>期 未开奖，您可以手动刷新或等待自动刷新！</span>
</div>
