{template header}
<div class="g_w1000min open_form">
	<div class="g_w1000  ">
		{template hk6_com_nav}
		
		
		<div class="sub_r_bot history">
			<div class="sub_bot_one">
				<span class="sub_bot_bt">香港彩 开奖记录</span> 
				<span class="r"><a href="javascript:void(0);" id="hk6kjlsmore" class="g_button btn_orange rili_submit">更多历史</a></span>
			</div>
		</div>
		
		{template hk6_kjls_comnf}
		
		<table class="sub_table" cellpadding="0" cellspacing="0" border="0" width="100%">
			<thead>
				<tr id="th_header">
					<th width="90" rowspan="2" class="">期数 </th>
					<th width="400" rowspan="2" class="">开奖号码 </th>
					<th colspan="4" class="">总和 </th>
					<th colspan="5" class="">特码 </th>
				</tr>
				<tr>
					<th style="font-size: 12px;">总数 </th>
					<th style="font-size: 12px;">单双 </th>
					<th style="font-size: 12px;">大小 </th>
					<th style="font-size: 12px;" class="">特码波色 </th>
					<th style="font-size: 12px;">单双 </th>
					<th style="font-size: 12px;">大小 </th>
					<th style="font-size: 12px;">合单双 </th>
					<th style="font-size: 12px;">合大小 </th>
					<th style="font-size: 12px;">尾大小 </th>
				</tr>
			</thead>
			<tbody>
			<!--香港彩是按年做记录的-->
			{php
            	$year = isset($_GET['day']) ? $_GET['day']:date('Y',time());
       		}
			{php $bose = array(1=>"red",2=>"red",7=>"red",8=>"red",12=>"red",13=>"red",18=>"red",19=>"red",23=>"red",24=>"red",29=>"red",30=>"red",34=>"red",35=>"red",40=>"red",45=>"red",46=>"red",3=>"blue", 4=>"blue", 9=>"blue", 10=>"blue", 14=>"blue", 15=>"blue", 20=>"blue", 25=>"blue", 26=>"blue", 31=>"blue", 36=>"blue", 37=>"blue", 41=>"blue", 42=>"blue", 47=>"blue", 48=>"blue", 5=>"green", 6=>"green", 11=>"green", 16=>"green", 17=>"green", 21=>"green", 22=>"green", 27=>"green", 28=>"green", 32=>"green", 33=>"green", 38=>"green", 39=>"green", 43=>"green", 44=>"green", 49=>"green");}
			{php $bisezhongwen = array("red"=>"红","blue"=>"蓝","green"=>"绿");}
			
			{php $dangqian_y = date('Y',time());}
			{php $nian_cha = ($dangqian_y-2008)%12-1;}
				
{php $shengxiao = array("鸡","猴","羊","马","蛇","龙","兔","虎","牛","鼠","猪","狗");}
			{php

			$con = mysqli_connect("localhost","root","new-password","kjwang23dmei");
			$sql = "select * from fn_content_1_hk6 where opentime like '%$year%'  ORDER BY `id` DESC";
			$res = mysqli_query($con,$sql);
			$list = array();
			while($row=mysqli_fetch_assoc($res))
 			$list[] = $row;

			foreach($list as $res) { 
			$a = explode(',',$res['opencode']);
			
			}
			
			
			<tr {if ($key+1)%2==0}style="background-color:#eff2f7;"{/if}>
				<td> {$res['expect']} </td>
				<td><ul>
						<li class="item"><span class="ball_hk6_ ball_hk6_{$bose[(int)$a[0]]}">{$a[0]}</span><em>{$shengxiao[(int)$a[0]%12]}</em></li>
						<li class="item"><span class="ball_hk6_ ball_hk6_{$bose[(int)$a[1]]}">{$a[1]}</span><em>{$shengxiao[(int)$a[1]%12]}</em></li>
						<li class="item"><span class="ball_hk6_ ball_hk6_{$bose[(int)$a[2]]}">{$a[2]}</span><em>{$shengxiao[(int)$a[2]%12]}</em></li>
						<li class="item"><span class="ball_hk6_ ball_hk6_{$bose[(int)$a[3]]}">{$a[3]}</span><em>{$shengxiao[(int)$a[3]%12]}</em></li>
						<li class="item"><span class="ball_hk6_ ball_hk6_{$bose[(int)$a[4]]}">{$a[4]}</span><em>{$shengxiao[(int)$a[4]%12]}</em></li>
						<li class="item"><span class="ball_hk6_ ball_hk6_{$bose[(int)$a[5]]}">{$a[5]}</span><em>{$shengxiao[(int)$a[5]%12]}</em></li>
						<li class="item_add"><span class="ball_hk6_ ">+</span></li>
						<li class="item"><span class="ball_hk6_ ball_hk6_{$bose[(int)$a[6]]}">{$a[6]}</span><em>{$shengxiao[(int)$a[6]%12]}</em></li>
					</ul></td>
				<td class="count">{$a[0]+$a[1]+$a[2]+$a[3]+$a[4]+$a[5]+$a[6]}</td>
				<td class="gray">{if ($a[0]+$a[1]+$a[2]+$a[3]+$a[4]+$a[5]+$a[6])%2==0}双{else}单{/if}</td>
				<td class="blue">{if ($a[0]+$a[1]+$a[2]+$a[3]+$a[4]+$a[5]+$a[6])>=175}大{else}小{/if}</td>
				<td class="{$bose[$a[6]]}">{$bisezhongwen[$bose[(int)$a[6]]]}</td>
				<td class="{if $a[6]%2==0}blue{else}gray{/if}">{if $a[6]%2==0}双{else}单{/if}</td>
				<td class="{if $a[6]>25 && $a[6]<49}bule{else if $a[6]==49}count{else}gray{/if}">{if $a[6]>25 && $a[6]<49}大{else if $a[6]==49}和{else}小{/if}</td>
				<?php
					$b = array();
					if((int)$a[6] < 10){
						$b[1] = 0;
						$b[2] = $a[6];
					}else{
						$b[1] = $a[6][0];
						$b[2] = $a[6][1];
					}
				?>
				<td class="{if ($b[1]+$b[2])%2==0}count{else}bule{/if} max">{if ($b[1]+$b[2])%2==0}合双{else}合单{/if}</td>
				<td class="{if ($b[1]+$b[2])>6}gray{else}blue{/if} max">{if ($b[1]+$b[2])>6}合大{else}合小{/if}</td>
				<td class="{if $b[2]<5}gray{else}blue{/if} max">
				{if $b[2]<5}尾小{else}尾大{/if}
				</td>
			</tr>
			{php } }
			</tbody>
		</table>
		<div class="clear">
		</div>
	</div>
</div>
{template footer}