{template header}
<div class="g_w1000min open_form">
	<div class="g_w1000 ">
		<div class="sub_right  ">
			{template jsk3_com_nav}
			<div class="pkdjshipin">
				<center>
			<!--iframe src="http://kj.1680api.com/sharehtml/video?code=1006&body_w=980" width="1000" height="600" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe-->
                <object width="800" height="600"><embed src="/1006.swf" width="980" height="650" ></embed></object>
				<div class="g_clear"></div>
            </div>
			<div class="hisloading" style="display: none;"> <img src="{SITE_THEME}images/loading_flash.gif"> </div>
			<div class="sub_hr"> </div>
		</div>
		<div class="clear"> </div>
	</div>
</div>
{template footer}