{template header}
<div class="g_w1000min open_form">
	<div class="g_w1000 open_form">
		<div class="sub_right right">
			{template pk10_com_nav}
		</div>
		<div class="clear"> </div>
	</div>
</div>
<div style="text-align: center; padding: 5px; font-weight: bold; color: red; display: none;" class="g_w1000 open_notic_tip"> <span class="msg">加载完成</span> <a target="_self" class="g_button btn_rosy" href="/BeiJingPKS/JiXianFX ">刷新</a> </div>
<div class="g_w1000">
	<div class="sub_r_bot">
		<div class="sub_bot_one"> <span class="sub_bot_bt"><strong>北京PK10：</strong> 极限数据分析（分析数据范围：所有历史数据）</span> </div>
	</div>
</div>
<div class="g_w1000 ">
	<div style="margin-top: 1px;" class="content">
		<div class="cont_box  open_form">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="sub_table_lz_head">
				<tbody>
					<tr>
						<th class="on">号码排行</th>
						<th class="">两面排行</th>
						<th class="">冠亚和排行</th>
					</tr>
				</tbody>
			</table>
			<table style="margin-top: 1px; display: table;" class="lot-table">
				<thead>
					<tr style="height: 37px; background-color: #ECECEC;">
						<td rowspan="2"><strong>车号</strong></td>
						<td colspan="2"><strong>冠  军</strong></td>
						<td style="background-color: #fff;" colspan="2"><strong>亚  军</strong></td>
						<td colspan="2"><strong>第三名</strong></td>
						<td style="background-color: #fff;" colspan="2"><strong>第四名</strong></td>
						<td colspan="2"><strong>第五名</strong></td>
						<td style="background-color: #fff;" colspan="2"><strong>第六名</strong></td>
						<td colspan="2"><strong>第七名</strong></td>
						<td style="background-color: #fff;" colspan="2"><strong>第八名</strong></td>
						<td colspan="2"><strong>第九名</strong></td>
						<td style="background-color: #fff;" colspan="2"><strong>第十名</strong></td>
					</tr>
					<tr style="height: 37px; background-color: #ECECEC;" class="JXtype">
						<td style="width: 46px; background-color: #fff;">最多连续开</td>
						<td style="width: 46px; background-color: #fff;">最多连续不开</td>
						<td style="width: 46px;">最多连续开</td>
						<td style="width: 46px;">最多连续不开</td>
						<td style="width: 46px; background-color: #fff;">最多连续开</td>
						<td style="width: 46px; background-color: #fff;">最多连续不开</td>
						<td style="width: 46px;">最多连续开</td>
						<td style="width: 46px;">最多连续不开</td>
						<td style="width: 46px; background-color: #fff;">最多连续开</td>
						<td style="width: 46px; background-color: #fff;">最多连续不开</td>
						<td style="width: 46px;">最多连续开</td>
						<td style="width: 46px;">最多连续不开</td>
						<td style="width: 46px; background-color: #fff;">最多连续开</td>
						<td style="width: 46px; background-color: #fff;">最多连续不开</td>
						<td style="width: 46px;">最多连续开</td>
						<td style="width: 46px;">最多连续不开</td>
						<td style="width: 46px; background-color: #fff;">最多连续开</td>
						<td style="width: 46px; background-color: #fff;">最多连续不开</td>
						<td style="width: 46px;">最多连续开</td>
						<td style="width: 46px;">最多连续不开</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px;"><span style="margin-right: 0px;" class="ball_pks_ ball_pks01 ball_lenght10"></span></td>
						<td class="b1_1OMax" style="background-color:#ECECEC;">5</td>
						<td class="b1_1LMax" style="background-color:#ECECEC;">89</td>
						<td class="b2_1OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b2_1LMax" style="height:37px;background-color:#fff; ">97</td>
						<td class="b3_1OMax" style="background-color:#ECECEC;">5</td>
						<td class="b3_1LMax" style="background-color:#ECECEC;">103</td>
						<td class="b4_1OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b4_1LMax" style="height:37px;background-color:#fff; ">101</td>
						<td class="b5_1OMax" style="background-color:#ECECEC;">5</td>
						<td class="b5_1LMax" style="background-color:#ECECEC;">118</td>
						<td class="b6_1OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b6_1LMax" style="height:37px;background-color:#fff; ">80</td>
						<td class="b7_1OMax" style="background-color:#ECECEC;">5</td>
						<td class="b7_1LMax" style="background-color:#ECECEC;">93</td>
						<td class="b8_1OMax" style="height:37px;background-color:#fff; ">4</td>
						<td class="b8_1LMax" style="height:37px;background-color:#fff; ">116</td>
						<td class="b9_1OMax" style="background-color:#ECECEC;">5</td>
						<td class="b9_1LMax" style="background-color:#ECECEC;">107</td>
						<td class="b10_1OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b10_1LMax" style="height:37px;background-color:#fff; ">94</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px;"><span style="margin-right: 0px;" class="ball_pks_ ball_pks02 ball_lenght10"></span></td>
						<td class="b1_2OMax" style="background-color:#ECECEC;">5</td>
						<td class="b1_2LMax" style="background-color:#ECECEC;">109</td>
						<td class="b2_2OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b2_2LMax" style="height:37px;background-color:#fff; ">146</td>
						<td class="b3_2OMax" style="background-color:#ECECEC;">5</td>
						<td class="b3_2LMax" style="background-color:#ECECEC;">107</td>
						<td class="b4_2OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b4_2LMax" style="height:37px;background-color:#fff; ">85</td>
						<td class="b5_2OMax" style="background-color:#ECECEC;">6</td>
						<td class="b5_2LMax" style="background-color:#ECECEC;">103</td>
						<td class="b6_2OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b6_2LMax" style="height:37px;background-color:#fff; ">106</td>
						<td class="b7_2OMax" style="background-color:#ECECEC;">6</td>
						<td class="b7_2LMax" style="background-color:#ECECEC;">95</td>
						<td class="b8_2OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b8_2LMax" style="height:37px;background-color:#fff; ">95</td>
						<td class="b9_2OMax" style="background-color:#ECECEC;">6</td>
						<td class="b9_2LMax" style="background-color:#ECECEC;">103</td>
						<td class="b10_2OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b10_2LMax" style="height:37px;background-color:#fff; ">99</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px;"><span style="margin-right: 0px;" class="ball_pks_ ball_pks03 ball_lenght10"></span></td>
						<td class="b1_3OMax" style="background-color:#ECECEC;">5</td>
						<td class="b1_3LMax" style="background-color:#ECECEC;">97</td>
						<td class="b2_3OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b2_3LMax" style="height:37px;background-color:#fff; ">110</td>
						<td class="b3_3OMax" style="background-color:#ECECEC;">5</td>
						<td class="b3_3LMax" style="background-color:#ECECEC;">97</td>
						<td class="b4_3OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b4_3LMax" style="height:37px;background-color:#fff; ">107</td>
						<td class="b5_3OMax" style="background-color:#ECECEC;">5</td>
						<td class="b5_3LMax" style="background-color:#ECECEC;">104</td>
						<td class="b6_3OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b6_3LMax" style="height:37px;background-color:#fff; ">102</td>
						<td class="b7_3OMax" style="background-color:#ECECEC;">5</td>
						<td class="b7_3LMax" style="background-color:#ECECEC;">100</td>
						<td class="b8_3OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b8_3LMax" style="height:37px;background-color:#fff; ">104</td>
						<td class="b9_3OMax" style="background-color:#ECECEC;">6</td>
						<td class="b9_3LMax" style="background-color:#ECECEC;">115</td>
						<td class="b10_3OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b10_3LMax" style="height:37px;background-color:#fff; ">153</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px;"><span style="margin-right: 0px;" class="ball_pks_ ball_pks04 ball_lenght10"></span></td>
						<td class="b1_4OMax" style="background-color:#ECECEC;">6</td>
						<td class="b1_4LMax" style="background-color:#ECECEC;">89</td>
						<td class="b2_4OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b2_4LMax" style="height:37px;background-color:#fff; ">117</td>
						<td class="b3_4OMax" style="background-color:#ECECEC;">5</td>
						<td class="b3_4LMax" style="background-color:#ECECEC;">98</td>
						<td class="b4_4OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b4_4LMax" style="height:37px;background-color:#fff; ">109</td>
						<td class="b5_4OMax" style="background-color:#ECECEC;">5</td>
						<td class="b5_4LMax" style="background-color:#ECECEC;">118</td>
						<td class="b6_4OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b6_4LMax" style="height:37px;background-color:#fff; ">109</td>
						<td class="b7_4OMax" style="background-color:#ECECEC;">6</td>
						<td class="b7_4LMax" style="background-color:#ECECEC;">114</td>
						<td class="b8_4OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b8_4LMax" style="height:37px;background-color:#fff; ">94</td>
						<td class="b9_4OMax" style="background-color:#ECECEC;">6</td>
						<td class="b9_4LMax" style="background-color:#ECECEC;">93</td>
						<td class="b10_4OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b10_4LMax" style="height:37px;background-color:#fff; ">112</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px;"><span style="margin-right: 0px;" class="ball_pks_ ball_pks05 ball_lenght10"></span></td>
						<td class="b1_5OMax" style="background-color:#ECECEC;">5</td>
						<td class="b1_5LMax" style="background-color:#ECECEC;">92</td>
						<td class="b2_5OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b2_5LMax" style="height:37px;background-color:#fff; ">89</td>
						<td class="b3_5OMax" style="background-color:#ECECEC;">5</td>
						<td class="b3_5LMax" style="background-color:#ECECEC;">110</td>
						<td class="b4_5OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b4_5LMax" style="height:37px;background-color:#fff; ">138</td>
						<td class="b5_5OMax" style="background-color:#ECECEC;">5</td>
						<td class="b5_5LMax" style="background-color:#ECECEC;">111</td>
						<td class="b6_5OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b6_5LMax" style="height:37px;background-color:#fff; ">122</td>
						<td class="b7_5OMax" style="background-color:#ECECEC;">6</td>
						<td class="b7_5LMax" style="background-color:#ECECEC;">99</td>
						<td class="b8_5OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b8_5LMax" style="height:37px;background-color:#fff; ">113</td>
						<td class="b9_5OMax" style="background-color:#ECECEC;">5</td>
						<td class="b9_5LMax" style="background-color:#ECECEC;">106</td>
						<td class="b10_5OMax" style="height:37px;background-color:#fff; ">4</td>
						<td class="b10_5LMax" style="height:37px;background-color:#fff; ">93</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px;"><span style="margin-right: 0px;" class="ball_pks_ ball_pks06 ball_lenght10"></span></td>
						<td class="b1_6OMax" style="background-color:#ECECEC;">5</td>
						<td class="b1_6LMax" style="background-color:#ECECEC;">103</td>
						<td class="b2_6OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b2_6LMax" style="height:37px;background-color:#fff; ">108</td>
						<td class="b3_6OMax" style="background-color:#ECECEC;">6</td>
						<td class="b3_6LMax" style="background-color:#ECECEC;">108</td>
						<td class="b4_6OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b4_6LMax" style="height:37px;background-color:#fff; ">106</td>
						<td class="b5_6OMax" style="background-color:#ECECEC;">5</td>
						<td class="b5_6LMax" style="background-color:#ECECEC;">91</td>
						<td class="b6_6OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b6_6LMax" style="height:37px;background-color:#fff; ">131</td>
						<td class="b7_6OMax" style="background-color:#ECECEC;">5</td>
						<td class="b7_6LMax" style="background-color:#ECECEC;">123</td>
						<td class="b8_6OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b8_6LMax" style="height:37px;background-color:#fff; ">94</td>
						<td class="b9_6OMax" style="background-color:#ECECEC;">6</td>
						<td class="b9_6LMax" style="background-color:#ECECEC;">92</td>
						<td class="b10_6OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b10_6LMax" style="height:37px;background-color:#fff; ">121</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px;"><span style="margin-right: 0px;" class="ball_pks_ ball_pks07 ball_lenght10"></span></td>
						<td class="b1_7OMax" style="background-color:#ECECEC;">6</td>
						<td class="b1_7LMax" style="background-color:#ECECEC;">98</td>
						<td class="b2_7OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b2_7LMax" style="height:37px;background-color:#fff; ">100</td>
						<td class="b3_7OMax" style="background-color:#ECECEC;">5</td>
						<td class="b3_7LMax" style="background-color:#ECECEC;">118</td>
						<td class="b4_7OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b4_7LMax" style="height:37px;background-color:#fff; ">88</td>
						<td class="b5_7OMax" style="background-color:#ECECEC;">5</td>
						<td class="b5_7LMax" style="background-color:#ECECEC;">99</td>
						<td class="b6_7OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b6_7LMax" style="height:37px;background-color:#fff; ">101</td>
						<td class="b7_7OMax" style="background-color:#ECECEC;">5</td>
						<td class="b7_7LMax" style="background-color:#ECECEC;">102</td>
						<td class="b8_7OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b8_7LMax" style="height:37px;background-color:#fff; ">108</td>
						<td class="b9_7OMax" style="background-color:#ECECEC;">5</td>
						<td class="b9_7LMax" style="background-color:#ECECEC;">95</td>
						<td class="b10_7OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b10_7LMax" style="height:37px;background-color:#fff; ">118</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px;"><span style="margin-right: 0px;" class="ball_pks_ ball_pks08 ball_lenght10"></span></td>
						<td class="b1_8OMax" style="background-color:#ECECEC;">4</td>
						<td class="b1_8LMax" style="background-color:#ECECEC;">102</td>
						<td class="b2_8OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b2_8LMax" style="height:37px;background-color:#fff; ">100</td>
						<td class="b3_8OMax" style="background-color:#ECECEC;">6</td>
						<td class="b3_8LMax" style="background-color:#ECECEC;">107</td>
						<td class="b4_8OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b4_8LMax" style="height:37px;background-color:#fff; ">162</td>
						<td class="b5_8OMax" style="background-color:#ECECEC;">5</td>
						<td class="b5_8LMax" style="background-color:#ECECEC;">99</td>
						<td class="b6_8OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b6_8LMax" style="height:37px;background-color:#fff; ">108</td>
						<td class="b7_8OMax" style="background-color:#ECECEC;">5</td>
						<td class="b7_8LMax" style="background-color:#ECECEC;">100</td>
						<td class="b8_8OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b8_8LMax" style="height:37px;background-color:#fff; ">98</td>
						<td class="b9_8OMax" style="background-color:#ECECEC;">5</td>
						<td class="b9_8LMax" style="background-color:#ECECEC;">128</td>
						<td class="b10_8OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b10_8LMax" style="height:37px;background-color:#fff; ">89</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px;"><span style="margin-right: 0px;" class="ball_pks_ ball_pks09 ball_lenght10"></span></td>
						<td class="b1_9OMax" style="background-color:#ECECEC;">5</td>
						<td class="b1_9LMax" style="background-color:#ECECEC;">103</td>
						<td class="b2_9OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b2_9LMax" style="height:37px;background-color:#fff; ">96</td>
						<td class="b3_9OMax" style="background-color:#ECECEC;">5</td>
						<td class="b3_9LMax" style="background-color:#ECECEC;">106</td>
						<td class="b4_9OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b4_9LMax" style="height:37px;background-color:#fff; ">113</td>
						<td class="b5_9OMax" style="background-color:#ECECEC;">5</td>
						<td class="b5_9LMax" style="background-color:#ECECEC;">110</td>
						<td class="b6_9OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b6_9LMax" style="height:37px;background-color:#fff; ">129</td>
						<td class="b7_9OMax" style="background-color:#ECECEC;">5</td>
						<td class="b7_9LMax" style="background-color:#ECECEC;">132</td>
						<td class="b8_9OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b8_9LMax" style="height:37px;background-color:#fff; ">111</td>
						<td class="b9_9OMax" style="background-color:#ECECEC;">5</td>
						<td class="b9_9LMax" style="background-color:#ECECEC;">96</td>
						<td class="b10_9OMax" style="height:37px;background-color:#fff; ">6</td>
						<td class="b10_9LMax" style="height:37px;background-color:#fff; ">91</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px;"><span style="margin-right: 0px;" class="ball_pks_ ball_pks10 ball_lenght10"></span></td>
						<td class="b1_10OMax" style="background-color:#ECECEC;">5</td>
						<td class="b1_10LMax" style="background-color:#ECECEC;">84</td>
						<td class="b2_10OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b2_10LMax" style="height:37px;background-color:#fff; ">95</td>
						<td class="b3_10OMax" style="background-color:#ECECEC;">6</td>
						<td class="b3_10LMax" style="background-color:#ECECEC;">114</td>
						<td class="b4_10OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b4_10LMax" style="height:37px;background-color:#fff; ">95</td>
						<td class="b5_10OMax" style="background-color:#ECECEC;">7</td>
						<td class="b5_10LMax" style="background-color:#ECECEC;">101</td>
						<td class="b6_10OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b6_10LMax" style="height:37px;background-color:#fff; ">98</td>
						<td class="b7_10OMax" style="background-color:#ECECEC;">5</td>
						<td class="b7_10LMax" style="background-color:#ECECEC;">98</td>
						<td class="b8_10OMax" style="height:37px;background-color:#fff; ">5</td>
						<td class="b8_10LMax" style="height:37px;background-color:#fff; ">91</td>
						<td class="b9_10OMax" style="background-color:#ECECEC;">5</td>
						<td class="b9_10LMax" style="background-color:#ECECEC;">108</td>
						<td class="b10_10OMax" style="height:37px;background-color:#fff; ">4</td>
						<td class="b10_10LMax" style="height:37px;background-color:#fff; ">99</td>
					</tr>
				</tbody>
			</table>
			<table style="margin: 0px; display: none;" class="lot-table">
				<thead>
					<tr style="height: 37px; background-color: #ECECEC;">
						<td rowspan="2">类型</td>
						<td>冠  军</td>
						<td>亚  军</td>
						<td>第三名</td>
						<td>第四名</td>
						<td>第五名</td>
						<td>第六名</td>
						<td>第七名</td>
						<td>第八名</td>
						<td>第九名</td>
						<td>第十名</td>
					</tr>
					<tr style="height: 37px; background-color: #ECECEC;">
						<td>最多连续开</td>
						<td>最多连续开</td>
						<td>最多连续开</td>
						<td>最多连续开</td>
						<td>最多连续开</td>
						<td>最多连续开</td>
						<td>最多连续开</td>
						<td>最多连续开</td>
						<td>最多连续开</td>
						<td>最多连续开</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">单</td>
						<td class="b1_LMD" style="background-color:#ECECEC;">17</td>
						<td class="b2_LMD" style="background-color:#fff; ">19</td>
						<td class="b3_LMD" style="background-color:#ECECEC;">19</td>
						<td class="b4_LMD" style="background-color:#fff; ">17</td>
						<td class="b5_LMD" style="background-color:#ECECEC;">20</td>
						<td class="b6_LMD" style="background-color:#fff; ">20</td>
						<td class="b7_LMD" style="background-color:#ECECEC;">16</td>
						<td class="b8_LMD" style="background-color:#fff; ">18</td>
						<td class="b9_LMD" style="background-color:#ECECEC;">20</td>
						<td class="b10_LMD" style="background-color:#fff; ">21</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">双</td>
						<td class="b1_LMS" style="background-color:#ECECEC;">17</td>
						<td class="b2_LMS" style="background-color:#fff; ">20</td>
						<td class="b3_LMS" style="background-color:#ECECEC;">17</td>
						<td class="b4_LMS" style="background-color:#fff; ">17</td>
						<td class="b5_LMS" style="background-color:#ECECEC;">17</td>
						<td class="b6_LMS" style="background-color:#fff; ">18</td>
						<td class="b7_LMS" style="background-color:#ECECEC;">15</td>
						<td class="b8_LMS" style="background-color:#fff; ">18</td>
						<td class="b9_LMS" style="background-color:#ECECEC;">19</td>
						<td class="b10_LMS" style="background-color:#fff; ">17</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">大</td>
						<td class="b1_LMDa" style="background-color:#ECECEC;">18</td>
						<td class="b2_LMDa" style="background-color:#fff; ">20</td>
						<td class="b3_LMDa" style="background-color:#ECECEC;">18</td>
						<td class="b4_LMDa" style="background-color:#fff; ">17</td>
						<td class="b5_LMDa" style="background-color:#ECECEC;">15</td>
						<td class="b6_LMDa" style="background-color:#fff; ">18</td>
						<td class="b7_LMDa" style="background-color:#ECECEC;">19</td>
						<td class="b8_LMDa" style="background-color:#fff; ">17</td>
						<td class="b9_LMDa" style="background-color:#ECECEC;">16</td>
						<td class="b10_LMDa" style="background-color:#fff; ">18</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">小</td>
						<td class="b1_LMX" style="background-color:#ECECEC;">19</td>
						<td class="b2_LMX" style="background-color:#fff; ">18</td>
						<td class="b3_LMX" style="background-color:#ECECEC;">20</td>
						<td class="b4_LMX" style="background-color:#fff; ">18</td>
						<td class="b5_LMX" style="background-color:#ECECEC;">16</td>
						<td class="b6_LMX" style="background-color:#fff; ">17</td>
						<td class="b7_LMX" style="background-color:#ECECEC;">16</td>
						<td class="b8_LMX" style="background-color:#fff; ">19</td>
						<td class="b9_LMX" style="background-color:#ECECEC;">17</td>
						<td class="b10_LMX" style="background-color:#fff; ">24</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">龙</td>
						<td class="b1_LML" style="background-color:#ECECEC;">16</td>
						<td class="b2_LML" style="background-color:#fff; ">18</td>
						<td class="b3_LML" style="background-color:#ECECEC;">16</td>
						<td class="b4_LML" style="background-color:#fff; ">18</td>
						<td class="b5_LML" style="background-color:#ECECEC;">16</td>
						<td class="b6_LML" style="background-color:#fff; ">--</td>
						<td class="b7_LML" style="background-color:#ECECEC;">--</td>
						<td class="b8_LML" style="background-color:#fff; ">--</td>
						<td class="b9_LML" style="background-color:#ECECEC;">--</td>
						<td class="b10_LML" style="background-color:#fff; ">--</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">虎</td>
						<td class="b1_LMH" style="background-color:#ECECEC;">17</td>
						<td class="b2_LMH" style="background-color:#fff; ">21</td>
						<td class="b3_LMH" style="background-color:#ECECEC;">18</td>
						<td class="b4_LMH" style="background-color:#fff; ">18</td>
						<td class="b5_LMH" style="background-color:#ECECEC;">17</td>
						<td class="b6_LMH" style="background-color:#fff; ">--</td>
						<td class="b7_LMH" style="background-color:#ECECEC;">--</td>
						<td class="b8_LMH" style="background-color:#fff; ">--</td>
						<td class="b9_LMH" style="background-color:#ECECEC;">--</td>
						<td class="b10_LMH" style="background-color:#fff; ">--</td>
					</tr>
				</tbody>
			</table>
			<table style="margin: 0px; display: none;" class="lot-table">
				<thead>
					<tr style="height: 37px; background-color: #ECECEC;" class="locktop">
						<td>类型</td>
						<td>最多连续开</td>
						<td>最多连续不开</td>
						<td>最近20期连开</td>
						<td>最近50期连开</td>
						<td>最近100期连开</td>
						<td>最近200期连开</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">单</td>
						<td class="b_GYD" style="background-color:#ECECEC;">24</td>
						<td class="b_GYD0" style="background-color:#fff; ">--</td>
						<td class="b_GYD20" style="background-color:#ECECEC;">6</td>
						<td class="b_GYD50" style="background-color:#fff; ">6</td>
						<td class="b_GYD100" style="background-color:#ECECEC;">6</td>
						<td class="b_GYD200" style="background-color:#fff; ">6</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">双</td>
						<td class="b_GYS" style="background-color:#ECECEC;">15</td>
						<td class="b_GYS0" style="background-color:#fff; ">--</td>
						<td class="b_GYS20" style="background-color:#ECECEC;">7</td>
						<td class="b_GYS50" style="background-color:#fff; ">7</td>
						<td class="b_GYS100" style="background-color:#ECECEC;">7</td>
						<td class="b_GYS200" style="background-color:#fff; ">7</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">大</td>
						<td class="b_GYDa" style="background-color:#ECECEC;">16</td>
						<td class="b_GYDa0" style="background-color:#fff; ">--</td>
						<td class="b_GYDa20" style="background-color:#ECECEC;">6</td>
						<td class="b_GYDa50" style="background-color:#fff; ">6</td>
						<td class="b_GYDa100" style="background-color:#ECECEC;">6</td>
						<td class="b_GYDa200" style="background-color:#fff; ">6</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">小</td>
						<td class="b_GYX" style="background-color:#ECECEC;">21</td>
						<td class="b_GYX0" style="background-color:#fff; ">--</td>
						<td class="b_GYX20" style="background-color:#ECECEC;">7</td>
						<td class="b_GYX50" style="background-color:#fff; ">7</td>
						<td class="b_GYX100" style="background-color:#ECECEC;">7</td>
						<td class="b_GYX200" style="background-color:#fff; ">7</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">3</td>
						<td class="b_zh_3OMax" style="background-color:#ECECEC;">4</td>
						<td class="b_zh_3LMax" style="background-color:#fff; ">385</td>
						<td class="b_zh_3OMax20" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_3OMax50" style="background-color:#fff; ">1</td>
						<td class="b_zh_3OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_3OMax200" style="background-color:#fff; ">1</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">4</td>
						<td class="b_zh_4OMax" style="background-color:#ECECEC;">3</td>
						<td class="b_zh_4LMax" style="background-color:#fff; ">357</td>
						<td class="b_zh_4OMax20" style="background-color:#ECECEC;">0</td>
						<td class="b_zh_4OMax50" style="background-color:#fff; ">0</td>
						<td class="b_zh_4OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_4OMax200" style="background-color:#fff; ">1</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">5</td>
						<td class="b_zh_5OMax" style="background-color:#ECECEC;">4</td>
						<td class="b_zh_5LMax" style="background-color:#fff; ">246</td>
						<td class="b_zh_5OMax20" style="background-color:#ECECEC;">0</td>
						<td class="b_zh_5OMax50" style="background-color:#fff; ">0</td>
						<td class="b_zh_5OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_5OMax200" style="background-color:#fff; ">1</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">6</td>
						<td class="b_zh_6OMax" style="background-color:#ECECEC;">4</td>
						<td class="b_zh_6LMax" style="background-color:#fff; ">304</td>
						<td class="b_zh_6OMax20" style="background-color:#ECECEC;">2</td>
						<td class="b_zh_6OMax50" style="background-color:#fff; ">2</td>
						<td class="b_zh_6OMax100" style="background-color:#ECECEC;">2</td>
						<td class="b_zh_6OMax200" style="background-color:#fff; ">2</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">7</td>
						<td class="b_zh_7OMax" style="background-color:#ECECEC;">4</td>
						<td class="b_zh_7LMax" style="background-color:#fff; ">151</td>
						<td class="b_zh_7OMax20" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_7OMax50" style="background-color:#fff; ">1</td>
						<td class="b_zh_7OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_7OMax200" style="background-color:#fff; ">2</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">8</td>
						<td class="b_zh_8OMax" style="background-color:#ECECEC;">4</td>
						<td class="b_zh_8LMax" style="background-color:#fff; ">149</td>
						<td class="b_zh_8OMax20" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_8OMax50" style="background-color:#fff; ">2</td>
						<td class="b_zh_8OMax100" style="background-color:#ECECEC;">2</td>
						<td class="b_zh_8OMax200" style="background-color:#fff; ">2</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">9</td>
						<td class="b_zh_9OMax" style="background-color:#ECECEC;">4</td>
						<td class="b_zh_9LMax" style="background-color:#fff; ">113</td>
						<td class="b_zh_9OMax20" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_9OMax50" style="background-color:#fff; ">1</td>
						<td class="b_zh_9OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_9OMax200" style="background-color:#fff; ">2</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">10</td>
						<td class="b_zh_10OMax" style="background-color:#ECECEC;">6</td>
						<td class="b_zh_10LMax" style="background-color:#fff; ">108</td>
						<td class="b_zh_10OMax20" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_10OMax50" style="background-color:#fff; ">2</td>
						<td class="b_zh_10OMax100" style="background-color:#ECECEC;">2</td>
						<td class="b_zh_10OMax200" style="background-color:#fff; ">2</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">11</td>
						<td class="b_zh_11OMax" style="background-color:#ECECEC;">5</td>
						<td class="b_zh_11LMax" style="background-color:#fff; ">105</td>
						<td class="b_zh_11OMax20" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_11OMax50" style="background-color:#fff; ">3</td>
						<td class="b_zh_11OMax100" style="background-color:#ECECEC;">3</td>
						<td class="b_zh_11OMax200" style="background-color:#fff; ">3</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">12</td>
						<td class="b_zh_12OMax" style="background-color:#ECECEC;">5</td>
						<td class="b_zh_12LMax" style="background-color:#fff; ">115</td>
						<td class="b_zh_12OMax20" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_12OMax50" style="background-color:#fff; ">2</td>
						<td class="b_zh_12OMax100" style="background-color:#ECECEC;">2</td>
						<td class="b_zh_12OMax200" style="background-color:#fff; ">2</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">13</td>
						<td class="b_zh_13OMax" style="background-color:#ECECEC;">6</td>
						<td class="b_zh_13LMax" style="background-color:#fff; ">103</td>
						<td class="b_zh_13OMax20" style="background-color:#ECECEC;">2</td>
						<td class="b_zh_13OMax50" style="background-color:#fff; ">2</td>
						<td class="b_zh_13OMax100" style="background-color:#ECECEC;">2</td>
						<td class="b_zh_13OMax200" style="background-color:#fff; ">2</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">14</td>
						<td class="b_zh_14OMax" style="background-color:#ECECEC;">5</td>
						<td class="b_zh_14LMax" style="background-color:#fff; ">162</td>
						<td class="b_zh_14OMax20" style="background-color:#ECECEC;">0</td>
						<td class="b_zh_14OMax50" style="background-color:#fff; ">1</td>
						<td class="b_zh_14OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_14OMax200" style="background-color:#fff; ">2</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">15</td>
						<td class="b_zh_15OMax" style="background-color:#ECECEC;">5</td>
						<td class="b_zh_15LMax" style="background-color:#fff; ">144</td>
						<td class="b_zh_15OMax20" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_15OMax50" style="background-color:#fff; ">1</td>
						<td class="b_zh_15OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_15OMax200" style="background-color:#fff; ">1</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">16</td>
						<td class="b_zh_16OMax" style="background-color:#ECECEC;">3</td>
						<td class="b_zh_16LMax" style="background-color:#fff; ">265</td>
						<td class="b_zh_16OMax20" style="background-color:#ECECEC;">0</td>
						<td class="b_zh_16OMax50" style="background-color:#fff; ">0</td>
						<td class="b_zh_16OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_16OMax200" style="background-color:#fff; ">1</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">17</td>
						<td class="b_zh_17OMax" style="background-color:#ECECEC;">4</td>
						<td class="b_zh_17LMax" style="background-color:#fff; ">218</td>
						<td class="b_zh_17OMax20" style="background-color:#ECECEC;">0</td>
						<td class="b_zh_17OMax50" style="background-color:#fff; ">1</td>
						<td class="b_zh_17OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_17OMax200" style="background-color:#fff; ">1</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">18</td>
						<td class="b_zh_18OMax" style="background-color:#ECECEC;">3</td>
						<td class="b_zh_18LMax" style="background-color:#fff; ">399</td>
						<td class="b_zh_18OMax20" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_18OMax50" style="background-color:#fff; ">1</td>
						<td class="b_zh_18OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_18OMax200" style="background-color:#fff; ">1</td>
					</tr>
					<tr>
						<td style="border: solid 1px #CCCCCC; width: 42px; height: 37px;background-color:#ECECEC;">19</td>
						<td class="b_zh_19OMax" style="background-color:#ECECEC;">3</td>
						<td class="b_zh_19LMax" style="background-color:#fff; ">422</td>
						<td class="b_zh_19OMax20" style="background-color:#ECECEC;">0</td>
						<td class="b_zh_19OMax50" style="background-color:#fff; ">0</td>
						<td class="b_zh_19OMax100" style="background-color:#ECECEC;">1</td>
						<td class="b_zh_19OMax200" style="background-color:#fff; ">1</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{template footer}