{template header}
<div class="g_w1000min open_form">
	<div class="g_w1000 open_form">
		<div class="sub_right right">
			{template pk10_com_nav}
		</div>
		<div class="clear"> </div>
	</div>
</div>
<div class="g_w1000 ">
	<div class="content">
		<div class="g_w1000  ">
			<div class="sub_r_bot">
				<div class="sub_bot_one"> <span class="sub_bot_bt"><strong>北京PK10：</strong> 龙虎历史 </span> </div>
			</div>
		</div>
		<div class="cont_box ">
			<table style="margin: 0; width: 1000px;" id="nav" class="lot-table">
				<thead>
					<tr style="height: 40px; background-color: #ECECEC;" class="thead">
						<td style="width: 218px;">日期(星期)</td>
						<td style="width: 77px">冠军龙</td>
						<td style="width: 77px">冠军虎</td>
						<td style="width: 77px">亚军龙</td>
						<td style="width: 77px">亚军虎</td>
						<td style="width: 77px">第三名龙</td>
						<td style="width: 77px">第三名虎</td>
						<td style="width: 77px">第四名龙</td>
						<td style="width: 77px">第四名虎</td>
						<td style="width: 77px">第五名龙</td>
						<td style="width: 77px">第五名虎</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width:100px;height: 50px;vertical-align:central;" class="even"><span style="height: 50px;line-height: 50px;">2016-03-16(三)</span>
							<div style="float:right;border-left:1px solid #e3e3e3;display:block;height: 100%; ">
								<div style="border-bottom: 1px solid #e3e3e3;height: 25px;line-height: 25px; ">期数差</div>
								<div style="height: 25px;line-height: 25px;">出现次数</div>
							</div></td>
						<td style="width:77px"><div class="top_right">0</div>
							<div class="div">37</div></td>
						<td style="width:77px"><div class="top_right_red">10</div>
							<div class="div">47</div></td>
						<td style="width:77px"><div class="top_right">0</div>
							<div class="div">40</div></td>
						<td style="width:77px"><div class="top_right_red">4</div>
							<div class="div">44</div></td>
						<td style="width:77px"><div class="top_right">0</div>
							<div class="div">39</div></td>
						<td style="width:77px"><div class="top_right_red">6</div>
							<div class="div">45</div></td>
						<td style="width:77px"><div class="top_right_red">16</div>
							<div class="div">50</div></td>
						<td style="width:77px"><div class="top_right">0</div>
							<div class="div">34</div></td>
						<td style="width:77px"><div class="top_right">0</div>
							<div class="div">41</div></td>
						<td style="width:77px"><div class="top_right_red">2</div>
							<div class="div">43</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-15(二)</td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">95</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">82</div></td>
						<td style="width:77px"><div class="div">97</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-14(一)</td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">90</div></td>
						<td style="width:77px"><div class="div">100</div></td>
						<td style="width:77px"><div class="div">79</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">90</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-13(日)</td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">95</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">80</div></td>
						<td style="width:77px"><div class="div">99</div></td>
						<td style="width:77px"><div class="div">97</div></td>
						<td style="width:77px"><div class="div">82</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-12(六)</td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">90</div></td>
						<td style="width:77px"><div class="div">103</div></td>
						<td style="width:77px"><div class="div">76</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-11(五)</td>
						<td style="width:77px"><div class="div">97</div></td>
						<td style="width:77px"><div class="div">82</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">90</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">78</div></td>
						<td style="width:77px"><div class="div">101</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">87</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-10(四)</td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">78</div></td>
						<td style="width:77px"><div class="div">101</div></td>
						<td style="width:77px"><div class="div">82</div></td>
						<td style="width:77px"><div class="div">97</div></td>
						<td style="width:77px"><div class="div">90</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">94</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-09(三)</td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-08(二)</td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">102</div></td>
						<td style="width:77px"><div class="div">77</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">90</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">90</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-07(一)</td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">90</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">90</div></td>
						<td style="width:77px"><div class="div">78</div></td>
						<td style="width:77px"><div class="div">101</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-06(日)</td>
						<td style="width:77px"><div class="div">76</div></td>
						<td style="width:77px"><div class="div">103</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">100</div></td>
						<td style="width:77px"><div class="div">79</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-05(六)</td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">79</div></td>
						<td style="width:77px"><div class="div">100</div></td>
						<td style="width:77px"><div class="div">101</div></td>
						<td style="width:77px"><div class="div">78</div></td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">90</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-04(五)</td>
						<td style="width:77px"><div class="div">95</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-03(四)</td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">82</div></td>
						<td style="width:77px"><div class="div">97</div></td>
						<td style="width:77px"><div class="div">95</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">83</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-02(三)</td>
						<td style="width:77px"><div class="div">79</div></td>
						<td style="width:77px"><div class="div">100</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">97</div></td>
						<td style="width:77px"><div class="div">82</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">93</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-03-01(二)</td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">90</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-29(一)</td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">95</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">88</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-28(日)</td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">83</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-27(六)</td>
						<td style="width:77px"><div class="div">90</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">98</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-26(五)</td>
						<td style="width:77px"><div class="div">77</div></td>
						<td style="width:77px"><div class="div">102</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">91</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-25(四)</td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">90</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-24(三)</td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">82</div></td>
						<td style="width:77px"><div class="div">97</div></td>
						<td style="width:77px"><div class="div">95</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">83</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-23(二)</td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">80</div></td>
						<td style="width:77px"><div class="div">99</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-22(一)</td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">79</div></td>
						<td style="width:77px"><div class="div">100</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-21(日)</td>
						<td style="width:77px"><div class="div">100</div></td>
						<td style="width:77px"><div class="div">79</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">82</div></td>
						<td style="width:77px"><div class="div">97</div></td>
						<td style="width:77px"><div class="div">76</div></td>
						<td style="width:77px"><div class="div">103</div></td>
						<td style="width:77px"><div class="div">80</div></td>
						<td style="width:77px"><div class="div">99</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-20(六)</td>
						<td style="width:77px"><div class="div">97</div></td>
						<td style="width:77px"><div class="div">82</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">95</div></td>
						<td style="width:77px"><div class="div">90</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">92</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-19(五)</td>
						<td style="width:77px"><div class="div">102</div></td>
						<td style="width:77px"><div class="div">77</div></td>
						<td style="width:77px"><div class="div">90</div></td>
						<td style="width:77px"><div class="div">89</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">69</div></td>
						<td style="width:77px"><div class="div">110</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">95</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-18(四)</td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
						<td style="width:77px"><div class="div">94</div></td>
						<td style="width:77px"><div class="div">85</div></td>
						<td style="width:77px"><div class="div">100</div></td>
						<td style="width:77px"><div class="div">79</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">96</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-17(三)</td>
						<td style="width:77px"><div class="div">83</div></td>
						<td style="width:77px"><div class="div">96</div></td>
						<td style="width:77px"><div class="div">92</div></td>
						<td style="width:77px"><div class="div">87</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">91</div></td>
						<td style="width:77px"><div class="div">88</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">95</div></td>
					</tr>
					<tr>
						<td style="width:218px">2016-02-16(二)</td>
						<td style="width:77px"><div class="div">95</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">76</div></td>
						<td style="width:77px"><div class="div">103</div></td>
						<td style="width:77px"><div class="div">95</div></td>
						<td style="width:77px"><div class="div">84</div></td>
						<td style="width:77px"><div class="div">81</div></td>
						<td style="width:77px"><div class="div">98</div></td>
						<td style="width:77px"><div class="div">93</div></td>
						<td style="width:77px"><div class="div">86</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{template footer}