.red { color: red; }
.blue { color: blue; }
.green { color: green; }

.dan { color: blue; }
.shuang { color: #f0f; }

.da { color: #f0f; }
.xiao { color: blue; }

.dadan {color: }
.dashuang {color: }
.xiaodan {color: }
.xiaoshuang{color: }

.hedan{color:blue;}
.heshuang{color: #f0f;}
.heda{color: #f0f;}
.hexiao{color:blue; }

.hongdan{color:red; }
.hongshuang{color:red; }
.hongda{color:red; }
.hongxiao{color:red; }
.landan{color:blue; }
.lanshuang{color:blue;  }
.landa{color:blue;  }
.lanxiao{color: blue; }
.lvdan{color:green; }
.lvshuang{color: green;}
.lvda{color:green; }
.lvxiao{color: green;}

.weidan{color:#f0f; }
.weishuang{color:blue; }
.weida{color:#f0f; }
.weixiao{color:blue; }

.wei0{color: }
.wei1{color: }
.wei2{color: }
.wei3{color: }
.wei4{color: }
.wei5{color: }
.wei6{color: }
.wei7{color: }
.wei8{color: }
.wei9{color: }

.tou0{color:#f39700; }
.tou1{color:#008000; }
.tou2{color:#999; }
.tou3{color:#f00; }
.tou4{color: #6a3905;}

.jiaqin{color:#09f;}
.yeshou{color:#906; }

.meng1{color: #008000;}
.meng2{color: #999; }
.meng3{color:#009e96; }
.meng4{color:#7d0022; }
.meng5{color: #920683;}

.duan1{color:#999; }
.duan2{color:#009e96; }
.duan3{color: #f39700;}
.duan4{color: #00469d;}
.duan5{color:#920683; }
.duan6{color: #009944;}
.duan7{color:#6a3905; }

.he1{color: }
.he2{color: }
.he3{color: }
.he4{color: }
.he5{color: }
.he6{color: }
.he7{color: }
.he8{color: }
.he9{color: }
.he10{color: }
.he11{color: }
.he12{color: }
.he13{color: }

.jing { color: #f39700; }
.mu { color: #008000; }
.shui { color: #999; }
.huo { color: #f00; }
.tu { color: #6a3905; }

.hongdadan{color: }
.hongdashuang{color: }
.hongxiaodan{color: }
.hongxiaoshuang{color: }
.landadan{color: }
.landashuang{color: }
.lanxiaodan{color: }
.lanxiaoshuang{color: }
.lvdadan{color: }
.lvdashuang{color: }
.lvxiaodan{color: }
.lvxiaoshuang{color: }

.yin { color: #999; }
.yan { color: #333; }
.tian { color: #00469d; }
.di { color: #7d0022; }
.xiong { color: #009e96; }
.ji { color: #e60011; }
.bai { color: #999; }
.hei { color: #000; }
.hongxiao { color: #f00; }
.lvxiao { color: #008000; }
.lanxiao { color: #00f; }
.shuangbi { color: #00469d; }
.danbi { color: #f0f; }
.nan { color: #06f; }
.nv { color: #f0f; }
